@mixin gridOneTemplate{
    display: grid;
    grid-template-columns: repeat(4/*auto-fit*/, minmax(300px, 1fr));
    gap: 1em;
    grid-auto-rows: 400px;
}

@mixin cardBackground{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin buttonPink{
    padding: 1em 3em;
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
    text-transform: uppercase;

    a{
        color: #fff;
        text-decoration: none;
    }
}

@mixin flexRowTextImage{
    display: flex;
    gap: 3em;
    align-items: center;
}

@mixin step{
    color: #ddd;
}