@use "_variables" as variables;
@use "_fonts" as fonts;
@use "_mixin" as mixin;


*{
    padding: variables.$padding-start;
    margin: variables.$margin-start;
    box-sizing: variables.$box-sizing;
    font-family: fonts.$fontRoboto;
}

img{
    max-width: 100%;
}

nav{
    background-color: transparent;
    position: fixed;
    top: 0;
}

.logo{
    width: 50px;
}

button{
    background-color: variables.$main-accent-color;
}